Source: linux-image-galliumos
Section: kernel
Priority: optional
Maintainer: reynhout <reynhout@galliumos.org>
Build-Depends: debhelper (>= 8.0.0),
               dh-systemd
Standards-Version: 3.9.6

Package: linux-image-galliumos
Architecture: all
Priority: optional
Depends: ${misc:Depends}, thermald, linux-firmware, linux-image-4.14.12-galliumos, linux-headers-4.14.12-galliumos
Conflicts: linux-image-galliumos-braswell, linux-image-galliumos-baytrail
Description: GalliumOS kernel for most Chromebo(ok|xe)s
 This metapackage pulls in the kernel and related packages

Package: linux-image-galliumos-braswell
Architecture: all
Priority: optional
Depends: ${misc:Depends}, thermald, linux-firmware, linux-image-4.14.12-galliumos, linux-headers-4.14.12-galliumos
Conflicts: linux-image-galliumos
Provides: linux-image-galliumos
Description: GalliumOS kernel for Braswell Chromebo(ok|xe)s
 This metapackage pulls in the kernel and related packages

Package: linux-image-galliumos-baytrail
Architecture: all
Priority: optional
Depends: ${misc:Depends}, thermald, linux-firmware, linux-image-4.14.12-galliumos, linux-headers-4.14.12-galliumos
Conflicts: linux-image-galliumos
Provides: linux-image-galliumos
Description: GalliumOS kernel for Bay Trail Chromebo(ok|xe)s
 This metapackage pulls in the kernel and related packages
